.row {
    display: grid;
    grid-template-columns: 50% 1fr;
    background-color:#FBFCFF;
    margin-bottom: 3%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.row.fw {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1b0ca5;
    background-image: linear-gradient(145deg, #1b0ca5 0%, #355abb 39%, #7d9aea 100%);
    margin-bottom: 3%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.card-header-image img {
    width: 100%;
    margin-bottom: -4px;
}
.fw-img {
    max-width: 831px;
    margin:0 auto;
    text-align: center;
}
.fw-img img {
    width: 85%;
}
.img-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.img-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card-text-block {
    padding: 10%;
 
}
.card-text-block.fwt {
    padding: 6%;
    text-align: center;
}
.card-text-block h2 {
    font-size: 230%;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #1B0CA5;
}

.card-text-block p {
    line-height: 200%;
    margin-bottom: 40px;
}
.card-text-block.fwt p {
    line-height: 200%;
    margin-bottom: 30px;
    color: white;
}
.card-text-block.fwt h2 {
    color: white;
}
.card-text-block p span {
 display: block;
}


@media screen and (max-width: 750px) {
    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5%;
        }
    .row .card-header-image {
          display: flex;
          order: -1;
          flex-direction: column;
          width: 100%;
        }
        .row.fw .card-header-image {
            display: flex;
            order: 0;
            flex-direction: column;
            width: 100%;
          }
    .card-header-image img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .card-text-block {
        width: 90%;
        padding: 7% 0 15%;
    }
    .card-text-block h2 {
        font-size: 120%;
        text-transform: uppercase;
    }
}