footer {
    text-align: center;
}
footer ul {
    margin: 0;
    padding: 0 0 40px 0;
}
footer li {
    margin: 0 20px 0 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}
footer nav {
    display: block;
    margin-bottom: 30px;
    padding-top: 0;
}
footer nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    
}
footer nav li {
    margin: 0;
    padding: 20px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 95%;
    display: inline-block;
}
footer nav li a {
    color: #1B0CA5;
}

@media screen and (max-width: 750px) {
   //  nav {display: none}
}