header {
 background: #FBFCFF;
 position: relative;
 height: 80px;
}
header .logo {
   display: none;
   margin: 10px 0 0 3%;
   transition: all .2s ease-in-out;
}
@media screen and (min-width: 751px) {
       .mobile-btn {
           display: none;
       }
   }

@media screen and (max-width: 750px) {
    header {
        text-align: center;
        height: 50px;
    }
    .home-intro {
        height: 320px;
        transition: all .2s ease;
    }
    .home-intro section {
        margin-top: 0;
        padding-top: 40px;
       }
    .home-intro section article {
        max-width: 90%;
        text-align: center;
        margin: 0 auto;
       }
    
    .home-intro section article p {
           font-size: 100%;
           margin: 20px 0 40px;
           line-height: 150%;
       }
}